spring:
  application:
    name: fooding-gateway
  profiles:
    active: local
  main:
    allow-bean-definition-overriding: true

management:
  endpoint:
    health:
      probes:
        enabled: true
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true

